// Required


// Default variable overrides
$primary: #3ab048;

@import "../node_modules/bootstrap/scss/bootstrap";


/* $btn-hover-bg-shade-amount: 15%;
$btn-hover-bg-tint-amount: 15%;
$btn-hover-border-shade-amount: 20%;
$btn-hover-border-tint-amount: 10%; */

// $primary: #fff;
// $navbar-light: #ff4136;
// $light: #ff4136;
// $bg-light: #ff4136;
// $body-bg: #000;
// $bg-primary: #000;
// $body-color: #111;
// $primary: #ff4136;


// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/functions";

// $custom-theme-colors:(
//     "test": #ff4136,
// );

// $theme-colors: map-merge($custom-theme-colors,  $theme-colors);

// @import "../node_modules/bootstrap/scss/bootstrap";

// $body-bg: #000;
// $body-color: #111;

// $theme-colors: (


    // "primary": #0074d9,

    //  "primary":    $primary,


    // "secondary":  $secondary,


    // "success":    $success,


    // "info":       $info,


    // "warning":    $warning,


    // "danger":     $danger,


    // "light":      #0074d9,


    // "dark":       $dark

// );
// 
// @import "../node_modules/bootstrap/scss/bootstrap";÷

