//table inner padding
.table-sm th, .table-sm td
    padding: 0.3rem 0.3rem 0rem

//======== Login Page ========
.logo
    max-width: 65px

.auth-img
    background:url(./login-page-bg.png)
    background-position:50% 50%
    background-size:cover
    background-repeat:no-repeat

// ======== Dashboard Page ========

.stat-box
    .card-body
        color:$gray-600
    
    .stat-box-wrapper
        position:relative
        color:$gray-800
        

        .stat-num
            font-size: 2.2em
            margin-bottom: 16px
            line-height: 1em

        .icon
            position: absolute
            top: -5px
            right: 0
            font-size: 2.8em
    
    &:hover
        background: rgba(58, 176, 72, 0.18)

// ======== Shifts Page ========
.shift-details-table
    th,td
        padding: 1rem

// tab details icon

.icon-brc-edit
    position: absolute
    right: 0px
    bottom: 5px
    font-size: 1.2rem
    color: $warning
    :hover
        color: $infoHov

.icon-brc-trash
    position: absolute
    right: 35px
    bottom: 5px
    font-size: 1.2rem
    color: $danger
    :hover
        color: $infoHov
        
// Sidebar
.sidebar-section
    .list-group-item 
        padding: 1rem

// My account
.account-label
    min-width 150px
    font-weight: 500
    font-size: 0.9rem
    margin-top: 2rem