//table inner padding
.table-sm th, .table-sm td
    padding: 0.3rem 0.3rem 0rem

//======== Auth Page ========
.logo
    max-width: 65px

.auth-login-img
    background:url(./mlg-bg-login.png)
    background-position:50% 50%
    background-size:cover
    background-repeat:no-repeat
.auth-logout-img
    background:url(./login-page-bg.png)
    background-position:50% 50%
    background-size:cover
    background-repeat:no-repeat

.auth-container
    width: 500px
    .badge-warning
        font-size: 14px
        font-weight: normal;
        margin-bottom: 1.5rem !important;
form 
    input.form-control
        font-size: 16px

    .form-auth-details
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-check-label
            font-size: 1.1rem
        .form-details-link
            font-size: 1.1rem
            margin-bottom: 5px
        .checkbox
            width: 17px;
            height: 17px;
            margin-right: -7px;
    .btn.btn-primary
        font-size: 16px

        


// ======== Dashboard Page ========

.stat-box
    .card-body
        color:$gray-600
    
    .stat-box-wrapper
        position:relative
        color:$gray-800
        

        .stat-num
            font-size: 2.2em
            margin-bottom: 16px
            line-height: 1em

        .icon
            position: absolute
            top: -5px
            right: 0
            font-size: 2.8em
    
    &:hover
        background: rgba(58, 176, 72, 0.18)

// ======== Shifts Page ========
.shift-details-table
    th,td
        padding: 1rem

// tab details icon

.icon-brc-edit
    position: absolute
    right: 0px
    bottom: 5px
    font-size: 1.2rem
    color: $warning
    :hover
        color: $infoHov

.icon-brc-trash
    position: absolute
    right: 35px
    bottom: 5px
    font-size: 1.2rem
    color: $danger
    :hover
        color: $infoHov
        
// Sidebar
.sidebar-section
    .list-group-item 
        padding: 1rem

// My account
.account-label
    min-width 150px
    font-weight: 500
    font-size: 0.9rem
    margin-top: 2rem

// ======== Note Thread ========
.notes-thread
    .note-block
        padding: 1.5rem 0rem
        border-bottom: 1px solid $gray-300
        .note-header
            color: green;
            .user
                font-weight: bold;
                padding-right: 20px;
            .datetime
                text-transform: uppercase
                font-weight: 300
        .note-title
            
            padding: 20px 0px
        .note-content
            color: $gray-600
            font-weight: 300
    .btn-primary
        margin-top: 1.5rem

// ======== Invoice Filter ========
.dropdown-wrapper
    .dropdown-menu
        padding: 2rem
        .dp__input_wrap
            width: 70%
        .form-control
            padding: 8px 0px 7px 5px;
            width: 60%;