//table inner padding
.table-sm th, .table-sm td
    padding: 0.3rem 0.3rem 0rem

//======== Login Page ========
.logo
    max-width: 65px

.auth-img
    // position:relative
    // height:100%
    background:url(./login-page-bg.png);
    background-position:50% 50%;
    background-size:cover;
    background-repeat:no-repeat
