.header-top .logo img
    width:auto;
    height:42px

.navbar-toggler
    margin-top:-55px
    float: right
    display: block
.navbar-toggler:focus,
// .navbar-toggler:active,
.navbar-toggler-icon:focus 
    outline: none;
    box-shadow: none;
.navbar-toggler:hover
    border 1px solid $primaryHov
.navbar-toggler-icon:hover 
        transition: all 0.2s ease-in-out
        transform: scale(.9)

.header-top
    .btn-icon 
        padding:  10px
        margin: -13px 0px 0px 10px
        background: rgba(0,0,0,0.0);
        border-radius: 50%
        transition: all .5s ease-in-out
        &:hover
            background: $primaryHov;
