.navbar-toggler
    margin-top: -80px
    float: right
    display: block
.navbar-toggler:focus,
// .navbar-toggler:active,
.navbar-toggler-icon:focus 
    outline: none;
    box-shadow: none;
.navbar-toggler:hover
    border 1px solid $primaryHov
.navbar-toggler-icon:hover 
        transition: all 0.2s ease-in-out
        transform: scale(.9)

