.header-top .logo img
    width:auto;
    height:42px

.navbar-toggler
    margin-top:-70px
    float: right
    display: block
.navbar-toggler:focus,
.navbar-toggler-icon:focus 
    outline: none;
    box-shadow: none;
.navbar-toggler:hover
    border 1px solid $primaryHov
.navbar-toggler-icon:hover 
    transition: all 0.2s ease-in-out
    transform: scale(.9)
.navbar a i
    font-size 1.2rem
    color: $primary
.header-top
    .btn-icon 
        padding:  10px
        margin: -10px 0px 0px 10px
        background: rgba(0,0,0,0.0);
        border-radius: 50%
        transition: all .5s ease-in-out
        &:hover
            background: $primaryHov;

.navbar-light .navbar-nav .nav-link
    color: rgba(0,0,0,0.6)

li.nav-item
    &:hover
        background: $info;

.navbar-expand-md .navbar-nav .dropdown-menu 
    top: 28px
    padding: 0.5rem
    .dropdown-item
            padding: 0.5rem 1.5rem;
