
@media (max-width: 767.98px)
    // Global container
    .container
        max-width: 100%;
    // Header
    .header-top
        .btn-icon:first-child
            margin-right: 55px

@media (max-width: 576px)
    .button-area
        padding-bottom: 1rem

@media (max-width: 281.98px)
    .header-top
        .btn-icon:first-child
            margin-right: 40px
        .btn-icon 
            padding:  10px
            margin: -13px 0px 0px 0px
    