@media (max-width: 767.98px)
    .btn-icon:first-child
        margin-right: 60px
    .container
        max-width: 100%;

    
// @media (min-width: 576px)
//     .container {
//         max-width: 100%;
//     }