*,
*:before,
*:after{
  box-sizing: border-box;
}

@-ms-viewport
  width device-width

body
  padding 0
  margin 0
  background-color $bodyBackground

ol, ul 
    list-style-type: none

html 
  font-size: 14px

