// ===Fonts Styling===
// h1 heading
.main-heading
    font-size: 2rem
    font-weight: 600

.text-brand
    color: $primary

.card-text
    color: $gray-700


.main-sub-heading, .sub-heading
    color: $gray-600
    font-weight: 300

// Invoices table font size
.table.data-heavy
    font-size 0.9rem

// full screen height
.vh-100
    height 100vh
    overflow: hidden

// container width
.container 
    max-width: 1320px


// ===Tables Styling===
// table padding
thead
    background: $info;
.table thead th,
.table-sm th, .table-sm td
    padding: 0.5rem 0.7rem!important
    vertical-align: middle

// table font weight
.table
    font-weight: 300
    thead
    tr
        height: 60px

//table columns
.col-actions
    min-width 110px

//table action icons
.icon-button
    display:inline-block;
    height:28px;
    width:28px;
    text-align:center;
    border-radius:50%;
    color:$white
    transition:.6s;
    background:$infoHov;
    font-size:1rem;
    margin-right: 2px
    position:relative
    margin-top: 4px

    &.sidebar
        height 2rem
        width 2rem

.icon-button i
    position:absolute;
    transition:.6s;
    color: $white
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:block
    font-size:1rem

.hover-primary 
    transition:.6s;
    :hover
        background:#3ab048
        color:$white

.table-filter
    .dropdown-menu
        top: 65%


// accordion tabs
.main-content-panel
    ul.accordion-tabs
        li a
            font-size: .9rem
            min-width: 120px
        li.active
            .btn
                background: $infoBtnHov

// list notes
.list-group.notes
    .list-group-item
        border-radius: 0px

.list-selector
    color $gray-700

.list-group-item
    padding: 0.5rem 1.25rem;
    border-radius: 40px
    line-height 1.5


.btn 
  cursor: pointer
  &.lrg
    font-size: 1.2rem;
    padding: 10px 20px;

// badge
.badge
    font-size 85%
.badge-pill 
    padding: 0.4rem 0.6rem
    border-radius: 10rem
.badge-pill.p-lg
    padding: 0.6rem 1rem !important



.card-body
    line-height: 1.5

.card-title
    margin-bottom: 0.5rem
    font-size: 1.6rem
    .badge-secondary
        margin-left: 10px
        font-size: 1rem
        padding: 0.6rem 0.8rem

.border-bottom
    border-bottom: 1px solid $gray-200

// Buttons
// .btn
//     display inline-block
//     font-weight $font-weight-normal
//     text-align center
//     white-space nowrap
//     vertical-align middle
//     -webkit-user-select none
//     -moz-user-select none
//     -ms-user-select none
//     user-select none
//     border 1px solid transparent
//     padding 0.5rem 0.75rem
//     font-size 1rem
//     line-height 1.25
//     border-radius $border-radius
//     transition all 0.15s ease-in-out

.btn-secondary
    color $primary
    background-color $white
    border-color $gray-400
    &:hover
        color $primary
        background-color $white
        border-color $primary

.btn-secondary:focus, .btn-secondary.focus
    box-shadow 0 0 0 3px rgba(134, 142, 150, 0.5)

.btn-secondary.disabled, .btn-secondary:disabled
    background-color $secondary
    border-color $secondary

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle
    background-color $secondaryBtnHov
    background-image none
    border-color $secondaryHov

// primary
.btn-primary:focus, .btn-primary.focus
    box-shadow 0 0 0 3px $primaryHov