// h1 heading
.main-heading
    padding-top: 1rem
    font-size: 2rem

// full screen height
.vh-100
    height 100vh
    overflow: hidden

//table columns
.col-actions
    min-width 110px

//table action icons
.icon-button
    display:inline-block;
    height:23px;
    width:23px;
    text-align:center;
    border-radius:50%;
    color:#fff
    transition:.6s;
    background:#28313f;
    font-size:1rem;
    margin-right: 2px
    position:relative

.icon-button i
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:block
    font-size:0.9rem;

.icon-button:hover

    background:#3ab048
    color:#fff

// Table Tab Buttons
.tab-button
    font-size: 0.85rem
    padding:1.1rem 1.1rem
    margin-bottom:0.5rem

