@import url(https://pro.fontawesome.com/releases/v5.13.1/css/all.css);

.header-top .logo img
    width:auto;
    height:46px
.btn-icon 
    padding:10px
    margin: -10px 0px 0px 10px
    background: rgba(0,0,0,0.0);
    border-radius: 50%
    transition: all .5s ease
    &:hover
        background: #198754;
        

